* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: Montserrat-light;
  src: url(../assets/fonts/Montserrat-Thin.otf);
}
body {
  font-family: "Montserrat";
  background: #BDC0BE;
}

/*CONTENIDO DE LA PAGINA DE INICIO CON BS Y FLEXBOX*/
.flyers {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}
.flyers img {
  margin: 5px;
}

.card {
  margin: 2em;
  width: 22rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.destacados {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  justify-content: space-around;
}

.titulos {
  display: flex;
  justify-content: center;
  background: #BF6900;
  color: #D7D9D7;
  margin: 5rem;
  border-radius: 0.3rem;
}

/* footer con GRIDS*/
footer {
  background: #D7D9D7;
  display: grid;
  grid-template-areas: "social nosotros legal";
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding: 2rem;
}
footer h5 {
  font-size: 32px;
}
footer a, footer span {
  text-decoration: none;
  color: #646E68;
  transition: 0.3s;
}
footer a:hover, footer span:hover {
  color: #040F0F;
  transition: 0.3s;
}

.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.4em;
  margin: 3rem;
}

.nosotros {
  grid-area: nosotros;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.4em;
  margin: 3rem;
}

.legales {
  grid-area: legal;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.4em;
  margin: 3rem;
}

/* pagina Contactanos */
.fondo-contacto {
  background: url(../assets/img/cpu-4393376.jpg) no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.wrapper .titulo h1 {
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.formulario-de-contacto {
  display: flex;
}

.input-area {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-area .mensaje {
  width: 48%;
}
.input-area input {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.mensaje textarea {
  height: 212px;
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
  background: #BF6900;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #D7D9D7;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  background: #D7D9D7;
}

/* PAGINA NOTEBOOKS */
.notebooks {
  background-color: #BF6900;
}

@media (max-width: 425px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 2fr);
    grid-template-areas: "social" "nosotros" "legal";
  }
  footer .social {
    height: 400px;
  }
  .flyers img {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
  }
  #logi {
    width: 100vw;
  }
  #carrusel {
    display: none;
  }
  .formulario-de-contacto {
    flex-direction: column;
  }
  .mensaje textarea {
    height: 80px;
  }
  .input-area, .mensaje {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
