/* footer con GRIDS*/
footer{
    background: #D7D9D7;
    display: grid;
    grid-template-areas: 
    "social nosotros legal";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 2rem;
    h5{
        font-size: 32px;
    }
    a, span{
        text-decoration: none;
        color: #646E68;
        transition: 0.3s;
        &:hover{
            color: #040F0F;
            transition: 0.3s;
        }
    }
}
.social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
    margin: 3rem;
}
.nosotros{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
    margin: 3rem;
}
.legales{
    grid-area: legal;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
    margin: 3rem;
}