@import "fonts";
@import "pages/inicio";
@import "footer";
@import "pages/contactanos";
@import "pages/sobre-nosotros";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: "Montserrat";
    background: #BDC0BE;
}
nav{
    background-color: #D7D9D7;
}

.btn {
    background: #BF6900;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #D7D9D7;
    cursor: pointer;
    text-transform: uppercase;
    &:hover{
        background: #D7D9D7;
        color: #BF6900;
    }
}
// PAGINA PCS ARMADAS
.contenedor{
    background: rgb(100,110,104);
    background: radial-gradient(circle, rgba(100,110,104,1) 0%, rgba(191,105,0,1) 40%, rgba(215,217,215,1) 100%);
}
.intro{
    background-color: #BF6900;
    font-size: 1.4em;
    font-family: Montserrat;
    padding: 1rem;
    border-radius: 5px;
    margin: 2em 1em 0 1em;
}
.computadoras-armadas{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* PAGINA NOTEBOOKS */
.notebooks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
        margin: 5px 30px;
    }
}
.notebook-bg{
    background: rgb(215,217,215);
    background: linear-gradient(0deg, rgba(215,217,215,1) 10%, rgba(100,110,104,1) 40%, rgba(191,105,0,1) 60%, rgba(215,217,215,1) 80%);
}
.sobre-nosotros-{
    background-image: url(../assets/img/bg02.jpg);
}
// MEDIA QUERIES
@media (max-width: 425px){
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 2fr);
        grid-template-areas: 
        "social"
        "nosotros"
        "legal";
        .social{
            height: 400px;
        }
    }
    .flyers{
        img{
            display: flex;
            height: 400px;
            flex-wrap: wrap;
        }
    }
    #logi{
        width: 100vw;
    }
    #carrusel{
        display: none;
    }
    .formulario-de-contacto{
        flex-direction: column;
    }
    .mensaje{
        textarea{
            height: 80px;
        }
    }
    .input-area, .mensaje{
        width: 100%;
    }
}