/* pagina Contactanos */
.fondo-contacto{
    background: url(../assets/img/cpu-4393376.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
}
.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .titulo{
        h1{
            color: #c5ecfd;
            text-align: center;
            margin-bottom: 25px;
        }
    }
}
.formulario-de-contacto{
    display: flex;
}
.input-area{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    .mensaje{
        width: 48%;
    }
    input{
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid #c5ecfd;
        padding: 10px;
        color: #c5ecfd;
        width: 100%;
    }
}
.mensaje{
    textarea{
        height: 212px;
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid #c5ecfd;
        padding: 10px;
        color: #c5ecfd;
        width: 100%;
    }
    a{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #BF6900;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 40px;
        letter-spacing: 4px;
        &:hover{
            background: #BF6900;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #BF6900,
                    0 0 25px #BF6900,
                    0 0 50px #BF6900,
                    0 0 100px #BF6900;
        }
        span{
            position: absolute;
            display: block;
            &:nth-child(1){
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, #BF6900);
                animation: btn-anim1 1s linear infinite;
            }
            &:nth-child(2){
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(180deg, transparent, #BF6900);
                animation: btn-anim2 1s linear infinite;
                animation-delay: .25s
            }
            &:nth-child(3){
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(270deg, transparent, #BF6900);
                animation: btn-anim3 1s linear infinite;
                animation-delay: .5s
            }
            &:nth-child(4){
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(360deg, transparent, #BF6900);
                animation: btn-anim4 1s linear infinite;
                animation-delay: .75s
            }
        }
    }
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}
::-webkit-input-placeholder{
    color: #c5ecfd;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
}
.btn {
    background: #BF6900;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #D7D9D7;
    cursor: pointer;
    text-transform: uppercase;
    &:hover{
        background: #D7D9D7;
        color: #BF6900;
    }
}